@model WebMvcClient.ViewModels.CartComponentViewModel

@{
    ViewData["Title"] = "My Cart";
}
<li>
    <a class="@Model.Disabled page-scroll"
       asp-area=""
       asp-controller="CartList"
       asp-action="Index">
        @if (ViewBag.IsBasketInoperative == true)
        {
            <div>THE CART IS BROKEN</div>
        }
        else
        {
            <div>@Model.ItemsInCart Item(s) in Cart</div>
        }
    </a>
</li>