@using Microsoft.AspNetCore.Identity
@using WebMvcClient.Services
@using WebMvcClient.Models

@inject IIdentityService<ApplicationUser> UserManager
@if (User.FindFirst(x => x.Type == "preferred_username") != null)
{
    @await Component.InvokeAsync("Cart", new { user = UserManager.Get(User) })
    <li>
        <a class="page-scroll">|</a>
    </li>
    <li>
        <a class="page-scroll">@User.FindFirst(x => x.Type == "preferred_username").Value</a>
    </li>
    <li asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm">
        <a class="page-scroll" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="Account" asp-action="SignIn" class="page-scroll">Login</a>
    </li>
}