@model OrderAPIWeb.Models.TicketViewModel

@{
    ViewData["Title"] = "Ticket";
}

<h2>Ticket</h2>

<h4>TicketViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ticket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

